@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.sidebar {
  background-color: rgb(223, 218, 218);
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
  transition: transform 0.3s ease-in;
}
.sidebar nav {
  padding: 45px;
}
.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 30px;
}
.sidebar nav li a {
  text-decoration: none;
  color: black;
}
.main {
  /*background-color: gray;*/
  width: 90vw;
}
.container {
  display: flex;
}
.infocontainer {
  /* background-color: rgb(255, 0, 60);*/
  height: 58vh;
  width: 80vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}
.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
}
.hello {
  font-size: 55px;
  border: 20px;
}
.name {
  font-size: 40px;
  /*font-weight: bold;*/
  font-family: "Fira Sans", sans-serif;
}
.about {
  font-size: 36px;
}
.moreabout {
  font-size: 22px;
  margin-top: 20px;
  font-family: "Fira Sans", sans-serif;
}
.button {
  margin-top: 34px;
}

.button button {
  padding: 10px 14px;
  border-radius: 22px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 21px;
  margin: 0 3 px;
}
.devPic img {
  height: 58vh;
}
.button button:hover {
  background-color: rgb(30, 255, 98);
  color: black;
}
.contactform {
  padding: 0 34px;
  padding-top: 144px;
  font-family: "Fira Sans", sans-serif;
}
.contactform h1 {
  font-family: "Source Code Pro", monospace;
  padding: 10px;
}
.contactform form div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.contactform form div input {
  width: 26vm;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}
#emailHelp {
  font-size: 8px;
  color: midnightblue;
  margin: 5px;
  padding: 3px 0 0 0;
}
#form-check {
  flex-direction: row;
}
#form-check input {
  width: 24px;
  margin: 3px 0;
}
.btn-primary {
  font-size: 18px;
  padding: 10px 11px;
  border-radius: 16px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  margin: 0 3 px;
}
.btn-primary:hover {
  background-color: rgb(30, 255, 98);
  color: black;
}
.blogItem {
  margin: 20px;
  font-family: "Fira Sans", sans-serif;
}
.blogcontainer h1 {
  font-family: "Source Code Pro", monospace;
  margin: 23px;
}
.blogItem p {
  font-family: "Source Code Pro", monospace;
}
.intro h2 {
  font-family: "Source Code Pro", monospace;
  margin: 12px;
}
.intro p {
  font-family: "Source Code Pro", monospace;
  margin: 12px;
}
.skillcontainer {
  padding: 12px;
}
.skillItem {
  display: flex;
  align-items: center;
}
.skill1 {
  width: 255px;
  height: 6px;
  background-color: green;
  border: 2px solid black;
}
.skill2 {
  width: 188px;
  height: 6px;
  background-color: greenyellow;
}
.skill3 {
  width: 160px;
  height: 6px;
  background-color: gold;
}
.skill4 {
  width: 130px;
  height: 6px;
  background-color: red;
}
.skill5 {
  width: 255px;
  height: 6px;
  background-color: green;
}
.hamburger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.cross {
  margin-left: 190px;
}

@media screen and (max-width: 1650px) {
  /* .middle {
      display: none;
    }
    .UserName {
      display: none;
    } */
}
